* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    min-height: 150vh;
}

/* Header Sticky Ramping */
        .navbar {
            background: #0d1117;
            border-bottom: 1px solid #30363d;
            padding: 6px 0;
            position: sticky;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* Tombol Ikon */
.icon-btn {
    background: transparent;
    border: none;
    color: #f3f4f6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    /* Tambahan baru untuk mematikan efek biru bawaan HP */
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.icon-btn:active {
    background-color: rgba(255, 255, 255, 0.1); /* Efek abu-abu transparan saat ditekan */
    outline: none !important;
}

.icon-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Ikon Lonceng di Kanan */
.nav-icon-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.nav-icon-btn:hover {
    color: #ff6600;
}

